<!DOCTYPE html>
<html lang="es">
  
  <%- include('./partials/head') %>
  <body>
    <% if (admin != false) { %>

      <div class="container-fluid">
          
        <!--HEADER-->
        <%- include('./partials/header')  %>
        <!--FIN HEADER-->

        <!--SIDEBAR-->
        
        <div class="row">
          <%- include('./partials/sideBar') %> 
          <div class="col-10">

            <h3>Bienvenido al control de administrador</h3>

            <ul class="list-group col-3">
              <li class="list-group-item"><strong>Tareas Pendientes</strong></li>
              <li class="list-group-item list-group-item-primary">1 - TERMINAR EL ADMIN</li>
              <li class="list-group-item list-group-item-secondary">2 - TOMAR MATE</li>
              <li class="list-group-item list-group-item-success">3 - LISTAR USUARIOS</li>
              <li class="list-group-item list-group-item-danger">4 - MIRAR FUTBOL</li>
            </ul>
          </div>
        </div>
        
        <!--FIN SIDEBAR-->
            <%- include('./partials/footer') %>
        </div>

    <%- include('./partials/scripts') %> 
    <%}else{%>
      <div class="alert alert-danger d-flex" role="alert">
        <img class="img-fluid" style="width: 450px; border-radius: 5px;"src="https://i0.wp.com/mundowin.com/wp-content/uploads/2019/06/extract-rar-access-denied-fix.png?w=832&ssl=1">
         <p class="h1"> SOLAMENTE EL ADMINISTRADOR TIENE ACCESO A ESTE SECTOR</p>
      </div>
      <%}%>
  </body>
</html>
