<!DOCTYPE html>
<html lang="es">
  <!-- HEAD HTML-->
  <%- include('./partials/head') %>

  <body>
    <div class="container-fluid">
      <%- include('./partials/header')%> <%- include('./partials/navbar')%>

      <div class="container">
        <h1><%= juego.name %></h1>
        <div class="row">
          <div class="image col-5">
            <img
              class="image"
              src="/images/product-games/<%=juego.image%>"
              alt="imagen producto"
            />
          </div>
          <div class="category col-5">
            <ul>
          <li><strong class="section__strong">LANZAMIENTO:</strong> <%=juego.release_date%></li>
          <hr>
          <li><strong class="section__strong">DESARROLLADOR:</strong> <%=juego.distributors.name%></li>
          <hr>
          <li><strong class="section__strong">CATEGORÍA:</strong> <%=juego.categories.name%></li>
          <hr>
          <li><strong class="section__strong">PLATAFORMAS:</strong></li>
          <% for(let i = 0; i < juego.platforms.length; i++) { %>
            <li style="list-style-type:none; display:inline">
               <%=juego.platforms[i].name%> -
            </li>
          <% } %>
          <hr>
          <li><strong class="section__strong"> RATING ESRB:</strong> <%=juego.age_clasification%></li>
          <hr>
          <li><strong class="section__strong">PRECIO:</strong> $<%=juego.price%></li>
        </ul>
        <div class="btn">
          <button onclick="clickear(<%= juego.id %>)" class="btn btn-primary">Comprar</button>
        </div>
        </div>
          </div>
       
          <div class="row">
            
            <section class="descripcion col-12">
              <div class=" col-11">
                <h5>ACERCA DE ESTE JUEGO</h5>
                <p><%= juego.description %></p>
              </div>
          </div>
        </div>
          <%- include('./partials/footer') %>
        </div>

        <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Atención!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Logueate para continuar comprando</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="/user/login" class="btn btn-success">Logueate</a>
              </div>
            </div>
          </div>
        </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
      function clickear(juego){
        if(userLoggedFront){
          window.location.href = "/cart/add/" + juego;
        }else{
          //alert("Registrate para seguir comprando")
          $('#cartModal').modal('show')
        }
      }
    </script>
  </body>
</html>
