<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
  <body>
    <div class="container-fluid">
      <!--HEADER-->
      <%- include('./partials/header') %> 
      <!--FIN HEADER-->

      <!--MAIN-->
      <div class="row ">
      <%- include('./partials/sideBar') %>

      <div class="products col-10">
        <h1>Lista de juegos</h1>
        <table class="table table-striped table-dark mt-4">
          <thead>
            <!--TITULO-->
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Titulo</th>
              <th scope="col">Seccion </th>
              <th scope="col">Precio</th>
              <th scope="col">Descuento</th>
              <th scope="col">Editar</th>
            </tr>
          </thead>
         <% games.forEach(games => { %>
          
          <tbody>
            <tr>
              <th scope="row"><%= games.id %> </th>
              <td><%= games.name %> </td>
              <td><% section.forEach(sectionGames => { %>
                <% if (sectionGames.id == games.section_id) { %>
                  <%= sectionGames.name %> 
                <% } %>
              <% }) %> </td>
              <td><%= games.price %> </td>
              <td><%= games.discount %> </td>
              <td><%= games.image %> </td>
              <td><a href="/products/editar/<%= games.id %> "><button class="btn btn-info" type="submit">EDITAR</button></a></td>
            </tr>
          </tbody>
          
          
          <% }) %>
          
          </table>
      </div>
    </div>
    <!--FIN MAIN-->

    <!--FOOTER-->
      <%- include('./partials/footer') %>
    </div>
    <!--SCRIPT-->

    <!--Optional JavaScript-->
    <!--jQuery first, then Popper.js, then Bootstrap JS-->
    <%- include('./partials/scripts') %> 
  </body>
</html>