<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

<body>
    <div class="container-fluid">
        <!--HEADER-->
        <%- include('./partials/header') %>
        <%- include('./partials/navbar') %>

        

        <% if (typeof user != "undefined") { %>
            
        
        <div class="container  ">
            <!--Logo-->
            <div class="row">
                <div class="col-sm-10">
                    <h1> <%= `Usuario: ${user.first_name} ${user.last_name}` %>    </h1><a class="btn btn-primary" href="/user/logout"
                        role="button">Logout</a>
                </div>
                <div class="col-sm-2"><a href="#" class="pull-right"><img title="profile image"
                            class="img-circle img-responsive img-fluid" src="/images/logo.png"></a></div>
            </div>
            <!--AVATAR-->
            <div class="row">
                <div class="col-sm-3">
                    <div class="logo">
                        <img src="/images/img-perfil/<%=user.avatar %>  " class="avatar img-circle img-thumbnail"
                            alt="avatar">
                    </div>
                    </hr><br>
                    <!--WEBSITE-->
                    <div class="panel panel-default">
                        <div class="panel-heading">Gracias por elegirnos <i class="fa fa-link fa-1x"></i></div>
                        <div class="panel-body"><a href="#">www.GameOver.com.ar</a></div>
                    </div>
                    <!--REDES SOCIALES-->
                    <div class="panel mb-5">
                        <div class="panel-heading mb-3">Redes Sociales:</div>
                        <div class="panel-body">
                            Instagram - Facebook - Twitter
                        </div>
                    </div>
                </div>
                <!--TITULO DATOS EDITAR-->
                <div class="col-sm-9">
                    <h5>Datos a editar:</h5>
                    <hr>
                    <div class="front">
                    <ul>

                    </ul>         
                    </div>
                    <!--FORMULARIO-->
                    <form  action="/user/perfilUser/<%= user.id %>" method="post" enctype="multipart/form-data" id="editUser"
                        <!--NOMBRE-->
                        <div class="col-xs-6">
                            <label for="first_name">
                                <h4>Nombre</h4>
                            </label>
                            <input type="text" class="form-control" name="first_name" id="first_name"
                                value="<%=user.first_name %>">
                        </div>
                        <!--APELLIDO-->
                        <div class="col-xs-6">
                            <label for="last_name">
                                <h4>Apellido</h4>
                            </label>
                            <input type="text" class="form-control" name="last_name" id="last_name"
                                value="<%=user.last_name %>">
                        </div>
                        
                        <!--AVATAR-->
                        <div class="col-xs-6">
                            <label for="avatar">
                                <h4>Avatar</h4>
                            </label>
                            <input type="file" class="form-control" name="avatar" id="file">
                        </div>
                        <!--CONTRASEÑA-->
                        <div class="col-xs-6">
                            <label for="password">
                                <h4>Contraseña</h4>
                            </label>
                            <input type="password" class="form-control" name="password" id="password"
                                placeholder="Nueva contraseña">
                        </div>
                        <!--GUARDAR-->
                        <div class="col-xs-12">
                            <br>
                            <button class="btn btn-lg btn-success" type="submit" id="enviar"></i> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% } %>
        <%- include('./partials/footer') %>
    </div>
   

    <%- include('./partials/scripts') %> 
</body>

</html>