<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>

  <body>
    <div class="container-fluid">
      <%- include('./partials/header') %> <%- include('./partials/navbar') %>
      <div class="row">
        
        <div class="container-fluid">
          
          <div class="formulario-contenedor">
            <% if (typeof errors !="undefined")  { %>
              <div class="errors">
                <p>❗Se encontraron los siguientes errores:</p>
                <ul>
                  <% for(let i = 0; i < errors.length; i++) { %>
                    <li>
                      ❌<%=errors[i].msg%> 
                    </li>
                    <% } %>
                  </ul>
                </div>
                
                <% } %>
                
            <form  action="/user/register" method="POST" enctype="multipart/form-data">
              <div class="grupo" >
                <h3 class="h2">REGISTRO</h3>
              </div>
              <div class="grupo">
                <input type="text" name="first_name" required>
                <label for="first_name" >NOMBRE</label>
              </div>
              <div class="grupo">
                <input type="text" name="last_name" required>
                <label for="last_name" >APELLIDO</label>
              </div>
              <div class="grupo">
                <input type="email" name="email" required>
                <label for="email" >EMAIL</label>
              </div>
              <div class="grupo">
                <input type="password" name="password" required>
                <label for="password" >CONTRASEÑA</label>
              </div>
              <div class="grupo">
                <input type="password" name="password2" required>
                <label for="password2" >REP CONTRASEÑA</label>
              </div>
              <div class="grupo">
                <input type="file" name="avatar" class="file">
                <label for="avatar" >AVATAR</label>
              </div>
              <div class="enviar">
                <button type="submit">ENVIAR</button>
              </div>
              
            </form>
          </div>
          
        </div>
        
      </div>

      </div>
      
      
      
      <%- include('./partials/footer') %>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
